@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS */
body {
    --red: #ec4343;
    --green: #04bf0c;
    --blue: #38d1f1;
    --orange: #ffa543;
}

select {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
    background-position: right 0.5rem center;
    background-repeat: no-repeat;
    background-size: 1.5em 1.5em;
    -webkit-appearance: none;
}

/* End of custom CSS */

/* Transition with cover screen */
.with-cover-leave-active,
.with-cover-enter-active,
.with-cover-leave-active .lav-transition,
.with-cover-enter-active .lav-transition {
    transition: transform 0.2s ease-in-out;
}

/* Cover in */
.with-cover-leave .lav-transition {
    transform: translateY(100%);
}

.with-cover-leave-to .lav-transition {
    transform: translateY(0);
}

/* Cover down */
.with-cover-enter .lav-transition {
    transform: translateY(0);
}

.with-cover-enter-to .lav-transition {
    transform: translateY(-100%);
}

.lav-transition {
    background: var(--transition-background, #38d1f1);
}
