@tailwind base;
@tailwind components;
@tailwind utilities;

/* Transition with cover screen */
.with-cover-leave-active,
.with-cover-enter-active,
.with-cover-leave-active .lav-transition,
.with-cover-enter-active .lav-transition {
    transition: transform 0.5s cubic-bezier(0.8, 0, 0.2, 1);
}

/* Cover in */
.with-cover-leave .lav-transition {
    transform: translateY(100%);
}

.with-cover-leave-to .lav-transition {
    transform: translateY(0);
}

/* Cover down */
.with-cover-enter .lav-transition {
    transform: translateY(0);
}

.with-cover-enter-to .lav-transition {
    transform: translateY(-100%);
}
