/* Select library */
@import 'tom-select/dist/css/tom-select';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS */
body, .theme-purple {
    --theme-50: #f5f3ff;
    --theme-100: #ede9fe;
    --theme-200: #ddd6fe;
    --theme-300: #c4b5fd;
    --theme-400: #a78bfa;
    --theme-500: #8b5cf6;
    --theme-600: #7c3aed;
    --theme-800: #6d28d9;
    --theme-900: #4c1d95;
    --theme-950: #2e1065;
    --background-50: #fafafa;
    --background-100: #f5f5f5;
    --background-200: #e5e5e5;
    --background-300: #d4d4d4;
    --background-400: #a3a3a3;
    --background-500: #737373;
    --background-600: #525252;
    --background-700: #404040;
    --background-800: #262626;
    --background-900: #171717;
    --background-950: #0a0a0a;
}

.theme-blue {
    --theme-50: #f0f9ff;
    --theme-100: #e0f2fe;
    --theme-200: #bae6fd;
    --theme-300: #7dd3fc;
    --theme-400: #38bdf8;
    --theme-500: #0ea5e9;
    --theme-600: #0284c7;
    --theme-700: #0369a1;
    --theme-800: #075985;
    --theme-900: #0c4a6e;
    --theme-950: #082f49;
}

.theme-red {
    --theme-50: #fef2f2;
    --theme-100: #fee2e2;
    --theme-200: #fecaca;
    --theme-300: #fca5a5;
    --theme-400: #f87171;
    --theme-500: #ef4444;
    --theme-600: #dc2626;
    --theme-700: #b91c1c;
    --theme-800: #991b1b;
    --theme-900: #7f1d1d;
    --theme-950: #702424;
}

.theme-green {
    --theme-50: #f0fdf4;
    --theme-100: #dcfce7;
    --theme-200: #bbf7d0;
    --theme-300: #86efac;
    --theme-400: #4ade80;
    --theme-500: #22c55e;
    --theme-600: #16a34a;
    --theme-700: #15803d;
    --theme-800: #166534;
    --theme-900: #14532d;
    --theme-950: #0d3328;
}

/*.section {*/
/*    min-height: calc(100dvh - 249px);*/
/*}*/

/*@media (min-width: 1024px) {*/
/*    .section {*/
/*        min-height: calc(100dvh - 249px);*/
/*    }*/
/*}*/

select {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
    background-position: right 0.5rem center;
    background-repeat: no-repeat;
    background-size: 1.5em 1.5em;
    print-color-adjust: exact;
    -webkit-appearance: none;
}

@media (min-width: 1024px) {
    body:has(.menu.isOpen) main,
    body:has(.menu.isOpen) footer > div {
        margin-left: calc(100vw / 5 + 3rem)
    }
}

.\!underline-none {
    text-decoration: none;
}

/* Tailwind UI Select field with Tom Select */
.ts-wrapper.error {
    @apply border-red-400 focus:border-red-300 focus:ring-red-300;
}

.ts-wrapper {
    @apply relative;
}

.ts-wrapper.input-active .ts-control {
    @apply border-theme-400 outline-none ring ring-theme-300 ring-opacity-40 dark:border-theme-300;
}

.ts-wrapper .ts-control {
    @apply gap-y-1 flex items-center placeholder-background-400 mt-2 w-full rounded-lg border border-background-200 bg-white px-5 !pr-8 py-2.5 text-background-700 focus:border-theme-400 focus:outline-none focus:ring focus:ring-theme-300 focus:ring-opacity-40 dark:border-background-600 dark:bg-background-900 dark:text-background-300 dark:focus:border-theme-300;
}

.ts-wrapper .ts-control .clear-button {
    @apply !text-2xl absolute right-8 flex items-center text-background-700 dark:text-background-600 pb-2;
}

.ts-wrapper .ts-control input {
    @apply !pr-5 !text-base !m-0 text-background-700 dark:text-background-300;
}

.ts-wrapper .ts-control .item {
    @apply !pr-2 !text-base !m-0 text-background-700 dark:text-background-300;
}

.ts-control, .ts-wrapper.single.input-active .ts-control {
    @apply !bg-transparent;
}

.ts-wrapper.plugin-remove_button .item {
    @apply rounded-[4px] !pl-2 !border !border-background-200 !mr-2 !bg-white !text-background-700 focus:border-theme-400 focus:outline-none focus:ring focus:ring-theme-300 focus:ring-opacity-40 dark:!border-background-600 dark:!bg-background-900 dark:!text-background-300 dark:focus:border-theme-300;
}

.ts-wrapper.multi .ts-control > div {
    @apply p-0 m-0 pl-1;
}

.ts-wrapper.plugin-remove_button .item .remove {
    @apply !border-none text-lg leading-none !ml-0 py-1 rounded-r-lg !border-background-200 dark:!text-background-300;
}

.ts-dropdown {
    @apply text-sm !border-background-200 dark:!border-background-600 bg-white dark:bg-background-900 rounded-md border text-background-700 dark:text-background-300;
}

.ts-dropdown [data-selectable].option, .ts-dropdown .no-results {
    @apply py-2;
}

.ts-dropdown [data-selectable].option:first-child {
    @apply rounded-t-md;
}

.ts-dropdown [data-selectable].option:last-child {
    @apply rounded-b-md;
}

.ts-dropdown .create:hover, .ts-dropdown .option:hover, .ts-dropdown .active {
    @apply bg-theme-600 text-white ;
}

.ts-dropdown .spinner {
    @apply h-auto w-auto;
}

.ts-dropdown .spinner:after {
    @apply h-5 w-5 border-2 p-0 my-0 inline-block;
}

.ts-wrapper:not(.form-control):not(.form-select).single .ts-control {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
    background-position: right 0.5rem center;
    background-repeat: no-repeat;
    background-size: 1.5em 1.5em;
    print-color-adjust: exact;
}
